.welcome-page {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.website-logo-section{
  width: 90%;
}

.website-logo{
  width: 50px;
}

.form-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form-side .form-section {
  height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;

}

.cover-side {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(20, 93, 228, 0.87);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

@media (max-width: 1075px) {
  .cover-side {
    display: none;
    width: 0%;
  }

  .form-side{
    width: 100%;
  }
}

@media (max-width: 660px) {
  .form-side{
    width: 100%;
    height: 100vh;
    /* margin-bottom: 100px; */
  }
}
