<h2>Log in to Mini Twitter</h2>
<form #f="ngForm" (ngSubmit)="login(f); submitted = true">
  <div class="form-floating mb-3">

    <input
      autocomplete="off"
      required
      pattern="^\S*$"
      ngModel
      name="username"
      #username="ngModel"
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      [ngClass]="{'is-invalid': (username.touched || submitted) && !username.valid}">

    <label for="floatingInput">username</label>

    <div class="invalid-feedback" *ngIf="(username.touched || submitted) && !username.valid">
      <div *ngIf="username.errors?.['required']">Username is required</div>
      <div *ngIf="username.errors?.['pattern']">Username is invalid</div>
    </div>

  </div>
  <div class="form-floating">

    <input
      autocomplete="off"
      required
      ngModel
      name="password"
      #password="ngModel"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      [ngClass]="{'is-invalid': (password.touched || submitted) && !password.valid}">
    <label for="floatingPassword">Password</label>

    <div class="invalid-feedback" *ngIf="(password.touched || submitted) && !password.valid">
      <div *ngIf="password.errors?.['required']">Password is required</div>
    </div>
  </div>


  <div style="color: red" *ngIf="failedResponse == true">Username or password is wrong</div>


  <button *ngIf="isloading == false" type="submit">Login</button>

  <button *ngIf="isloading == true" class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
</form>

<p>Don't have an account yet ? <a routerLink="/welcome/signUp">Sign in and create your free account</a>
  or <a routerLink="/home/feed"> you can login as a guest </a></p>
