<div class="empty-Tweets-container" *ngIf = "emptyTweetsOfUser === false && emptyNotification === false ">
  <h2>What? No Tweets yet?</h2>

  <p>It's empty now but it won't be for long. <br>
    The website is still new and the amount of users are few
    but soon you will see tweets when people try it.</p>
</div>

<div class="empty-Tweets-container" *ngIf = "emptyTweetsOfUser === true && emptyNotification === false">
  <h2>No tweets</h2>

  <p>The User hasn't posted any tweets yet</p>
</div>

<div class="empty-Tweets-container" *ngIf = "emptyNotification === true">
  <h2>No Notification</h2>

  <p>You don't have any notification yet</p>
</div>



