<div class="modal-backdrop fade show"></div>
<div class="modal fade show d-block" tabindex="5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">An error occurred</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
