<div class="tweet-body">
  <div class="user-profile-picture">
    <img src="../../assets/defaultProfilePicture.png" alt="">
  </div>

  <div class="tweet-name-and-text">
    <div class="user-name" [routerLink]="['/home/profile/', tweetBody.username]">{{tweetBody.author}}</div>
    <div class="tweet-text">
      <span class="mention" *ngIf="username" [routerLink]="['/home/profile/', username.slice(1)]">{{username}}</span>
      <span class= "text" [routerLink]="['/home/tweet/', tweetBody.id]" [innerHTML]="highlightedText">{{tweetBody.text}}</span>
    </div>
  </div>
  <div class="tweet-time">
    <span> {{tweetBody.date | timeAgo}}</span>
  </div>
</div>
