<div class="create-tweet-container">
  <div class="user-picture-section">
    <div class="user-picture">
      <img src="../../assets/defaultProfilePicture.png" alt="">
    </div>
  </div>
  <div class="new-tweet">
    <div class="form-group">
      <textarea class="form-control" placeholder="What is happening ?" style="resize: none;" rows="3"></textarea>
    </div>
    <div class="tweetBtn-andLimit">
      <label> 0/280</label>
      <span></span>
      <button class="btn btn-primary">Tweet</button>
    </div>

  </div>
</div>
