.create-tweet-container-full{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  gap: 0.5rem;
  padding: 20px;
  margin-bottom: 0.5rem;
}

h5{
  margin-top: -10px;
}

.create-tweet-container{
  display: flex;
  gap: 0.5rem;
}

.user-picture-section{
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.user-picture{
  width: 100%;
}

.user-picture img{
  width: 100%;
  border-radius: 50%;
}

.new-tweet{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tweetBtn-andLimit{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.btn{
  width: 100px;
  background-color: #1DA1F2;
  border: 0;
}

.tweetBtn-andLimit span{
  width: 1px;
  background-color: #AAB8C2;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.tweetBtn-andLimit label{
  color: #657786;
  margin-top: auto;
  margin-bottom: auto;

}

.form-control.ng-touched.ng-invalid{
  border: 1px solid rgb(199, 199, 199)
}

