<!-- <div class="text-center" *ngIf="isLoading == true">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
</div> -->

<div *ngIf="tweetsToDisplay$ | async as tweetsToDisplay">
  <div class="tweet-container" [ngClass]="{'onDeleteLoading': isDeleteLoading}"
  *ngFor="let tweet of tweetsToDisplay">

  <!-- .reverse() trackBy: trackById -->

  <!-- <div>{{tweet.username}}</div> -->
  <tweet-body [tweetBody]="tweet"></tweet-body>
  <tweet-options [userIsAuthenticated]="userIsAuthenticated" (deleteTweetClicked)="onDeleteTweetClicked($event)"
    [tweetBody]="tweet"  [username]="username"></tweet-options>

</div>

</div>



