<div class="tweet-container" *ngFor="let i of tweets">
  <div class="tweet-body">
    <div class="user-profile-picture">
      <img src="../../assets/defaultProfilePicture.png" alt="">
    </div>
    <div class="tweet-name-and-text">
      <div class="user-name">Kareem Yasser</div>
      <div class="tweet-text">{{i.tweet}}</div>
    </div>
    <div class="tweet-time">
      <span>23h</span>
    </div>
  </div>
  <div class="tweet-options">
      <div class="tweet-like-comment">

        <div class="comment">
          <i class="bi bi-chat"></i>
          <span>0</span>
        </div>

        <div class="like" (click)="clickLike()">
            <i class="bi" [ngClass]="{'bi-heart': likeClicked== false,'bi-heart-fill':likeClicked==true}" ></i>
          <span>{{tweetLike}}</span>
        </div>

      </div>

    <i class="bi bi-three-dots-vertical"></i>
  </div>

</div>
