.tweet-container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(223, 222, 222);
  /* padding-bottom: 0px; */
}

.tweet-body{
  display: flex;
  padding: 20px;
  gap: 0.5rem;
  width: 100%;
}

.tweet-options{
  display: flex;
  width: 100%;
}

.user-profile-picture{
  width: 50px;
  cursor: pointer;
}

.user-profile-picture img{
  width: 100%;
  border-radius: 50%;
}

.tweet-name-and-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
}

.user-name{
  font-weight: bold;
}

.tweet-time{
  width: 70px;
  /* border: 1px solid red; */
}

.tweet-time span{
  color: #AAB8C2;
}

.tweet-options{
  display: flex;
  align-self: center;
  width: 100%;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: red; */
  justify-content: space-between;
}

.tweet-like-comment{
  display: flex;
  gap: 2rem;
  width: 30%;
}

.tweet-like-comment .comment{
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.tweet-like-comment .comment:hover{
  color: rgb(13, 171, 192);
  transition: 0.3s ease;
  background-color: rgba(13, 171, 192, 0.1);
}

.tweet-like-comment .comment:hover i{
  -webkit-text-stroke: 0.7px;
}

/* ------------------------------------------------- */

.tweet-like-comment .like{
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.tweet-like-comment .like:hover{
  color: rgb(221, 22, 55);
  transition: 0.3s ease;
  background-color: rgba(221, 22, 55, 0.1);
}

.tweet-like-comment .like:hover i{
  -webkit-text-stroke: 0.7px;
}

.bi-heart-fill{
  color: rgb(221, 22, 55);
}





