.tweet-container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(223, 222, 222);
}

.spinner-border{
  color: #1DA1F2;
}

.onDeleteLoading {
  position: relative;
}

.onDeleteLoading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s ease-in-out;
  z-index: 2;
}





