<div class="search-panel">
  <div class="search-section">
    <div class="form-group has-search">
      <input maxlength="30" type="text" class="form-control" placeholder="Search..">
      <i class="bi bi-search"></i>
      <div class="resultBox">
        <!-- <li class="result-text">Hello</li>
        <li class="result-text">Hello</li> -->
      </div>
    </div>
  </div>
  <div class="username-logout-section">
    <div class="user-section">
      Kareem
      <!-- <i class="bi bi-person"></i> -->
    </div>
    <a class="logout" routerLink="">
      <i class="bi bi-power"></i>
    </a>
  </div>
</div>
