.search-panel-container-full{
  display: flex;
  flex-direction: row;
  width: fill-available;
  height: 61px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.search-panel-container{
  height: 100%;
  width: 100%;
  background-color: #F5F8FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b4c2ce;
}

.search-section{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.has-search {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  /* width: calc(60% + 100px) */
  width: 80%;
}

.has-search i {
  position: absolute;
  color: #657786;
  top: 19%;
  right: 0;
  margin-right: 10px;
}

.resultBox {
  background-color: white;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 10px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

li {
  list-style-type: none;
}

.result-text {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e9eaeb;

}

.result-text:hover {
  cursor: pointer;
  background-color: rgb(240, 244, 252);
}

.username-logout-section {
  height: 100%;
  /* border: 1px solid red; */
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-width: 100px; */
  width: max-content;
  gap: 10px;
}

.user-section {
  width: max-content;
  font-weight: bold;
}

.logout {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  /* margin-right: 30px */
  /* width: 30%; */
  /* border: 1px solid red; */
}

.logout:hover{
  cursor: pointer;
  color: #1DA1F2;
  transition: 0.3s ease;
}
