<div class="search-panel">
  <div class="form-group has-search">
    <!-- <span class=" form-control-feedback">

    </span> -->

    <input maxlength="30" type="text" class="form-control" placeholder="Search..">
    <i class ="bi bi-search"></i>
    <div class="resultBox">
        <!-- <li class="result-text">Hello</li> -->
    </div>
  </div>
  <div class="username-logout-section">
      <div class="user-section">
        Kareem
        <!-- <i class="bi bi-person"></i> -->
      </div>
      <div class="logout">
        <i class="bi bi-power"></i>
      </div>
  </div>
</div>
