<h2>Create your Account on Mini Twitter</h2>
<form #f="ngForm" (ngSubmit)="register(f)">

  <div class="row mb-3">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          id="FirstName"
          ngModel
          name="fname"
          #fname="ngModel"
          [ngClass]="{'is-invalid': fname.touched && fname.invalid}"
          required
          minlength="3"
          pattern="[a-zA-Z]*"
          placeholder="First name">

        <label for="FirstName">First Name</label>
        <div class="invalid-feedback" *ngIf="fname.touched && fname.invalid">
          <div *ngIf="fname.errors?.['required']">First name is required</div>
          <div *ngIf="fname.errors?.['minlength']">Minimum charcters per name are 3</div>
          <div *ngIf="fname.errors?.['pattern']">Name shouldn't countain numbers, space or special characters</div>
        </div>
      </div>

    </div>

    <div class="col">
      <div class="form-floating">
        <input
        autocomplete="off"
         type="text"
         class="form-control"
         id="LastName"
         ngModel
         name="lname"
         #lname="ngModel"
         [ngClass]="{'is-invalid': lname.touched && lname.invalid}"
         required
         minlength="3"
         pattern="[a-zA-Z]*"
         placeholder="First name">

        <label for="LastName">Last Name</label>
        <div class="invalid-feedback" *ngIf="lname.touched && lname.invalid">
          <div *ngIf="lname.errors?.['required']">Last name is required</div>
          <div *ngIf="lname.errors?.['minlength']">Minimum charcters per name are 3</div>
          <div *ngIf="lname.errors?.['pattern']">Name shouldn't countain numbers, space or special characters</div>
        </div>
      </div>
    </div>

  </div>


  <div class="form-floating mb-3">

    <input
      autocomplete="off"
      required
      pattern="^(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"
      ngModel
      name="username"
      #username="ngModel"
      type="text"
      class="form-control"
      id="Username"
      minlength="3"
      maxlength="10"
      placeholder="@username123"
      [ngClass]="{'is-invalid': username.touched && !username.valid}">

    <label for="Username">Username</label>

    <div class="invalid-feedback" *ngIf="username.touched && !username.valid">
      <div *ngIf="username.errors?.['required']">Username is required</div>
      <div *ngIf="username.errors?.['pattern']">Username is invalid</div>
      <div *ngIf="username.errors?.['minlength']">Username can't be less than 3 characters</div>
    </div>

  </div>

  <div class="form-floating">
    <input
    autocomplete="off"
     required
     ngModel
     name="password"
     #password="ngModel"
     type="password"
     class="form-control"
     minlength="3"
     id="Password"
     placeholder="Password"
     [ngClass]="{'is-invalid': password.touched && !password.valid}">

    <label for="Password">Password</label>
     <div class="invalid-feedback" *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['minlength']">Password can't be less than 3 characters</div>
    </div>
  </div>

  <button [disabled]="!f.valid" type="submit" class="Login-btn">Create my account</button>
</form>

<p>Already have an account ? <a routerLink="/welcome/login">Go to the login page</a>
  or <a routerLink="/home">  you can login as a guest </a></p>
