.navbar {
  height: 100%;
  width: inherit;
  background-color: #14171A;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;
  gap: 2rem;
  /* position: relative; */
  position: fixed;
}

.miniTwitterLogoBar {
  height: 60px;
  width: 100%;
  background-color: #1DA1F2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.miniTwitterLogoBar i {
  font-size: 200%;
  color: #eff0f1;
}

.navbar-items-section {
  display: flex;
  width: 100%;
  /* border: 1px solid blue; */
  justify-content: center;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;

  /* border: 1px solid red; */
}

.navbar-items li {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  color: #AAB8C2;
  height: 50px;
  margin-top: 5px;
  gap: 1.5rem;
}

.navbar-items .active {
  color: #f1f4f7;
  font-weight: bold;
  transition: none;
}

.navbar-items li:hover {
  color: #f1f4f7;
  /* transition: 0.3s ease; */
  cursor: pointer;
}

.bell-Icon {
  position: relative;
  /* border:1px solid red; */
}

.number-circle {
  position: absolute;
  top: -3px;
  left: 12px;
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1DA1F2;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: #14171A;
}


@media screen and (max-width: 990px) {
  .page-link {
    display: none;
  }

  .miniTwitterLogoBar i {
    font-size: 120%;
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
  }

  .miniTwitterLogoBar {
    display: none;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    width: 80%;

  }

  .navbar-items li {
    flex: 1;
    margin-top: 0px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
  }

}
