<div class="navbar">
  <div class="miniTwitterLogoBar">
    <i class="bi bi-twitter"></i>
  </div>
  <div class="navbar-items-section">
    <ul class="navbar-items">
      <li class ="active">
        <i class="bi bi-house"></i>
         <span class="page-link">Home</span>
      </li>
      <li *ngIf="userIsAuthenticated">
        <i class="bi bi-person"></i>
        <span class="page-link">Profile</span>
      </li>
      <li *ngIf="userIsAuthenticated">
        <i class="bi bi-bell"></i>
        <span class="page-link">Notifications</span>
      </li>
      <li>
        <i class="bi bi-search"></i>
        <span class="page-link">Search</span>
      </li>
    </ul>
  </div>
</div>
