<div class="navbar">
  <div class="miniTwitterLogoBar" routerLink="/home/feed">
    <i class="bi bi-twitter"></i>
  </div>
  <div class="navbar-items-section">
    <ul class="navbar-items">
      <li routerLinkActive="active" routerLink="/home/feed">
        <i class="bi bi-house"></i>
         <span class="page-link">Home</span>
      </li>
      <li routerLinkActive="active" *ngIf="userIsAuthenticated" [routerLink]="['/home/profile/', username]">
        <i class="bi bi-person"></i>
        <span class="page-link">Profile</span>
      </li>
      <li routerLinkActive="active" *ngIf="userIsAuthenticated" routerLink="/home/notifications">
        <i class="bi bi-bell"></i>
        <span class="page-link">Notifications</span>
      </li>
      <li routerLinkActive="active" >
        <i  class="bi bi-search"></i>
        <span class="page-link">Search</span>
      </li>
    </ul>
  </div>
</div>
