<div class="notification">
  <div class="notification-body">

    <div class="notification-type-icon">
      <div *ngIf="notification.type =='like'">
        <i class="bi bi-heart-fill"></i>
      </div>

      <div *ngIf="notification.type =='reply'">
        <i class="bi bi-reply-fill"></i>
      </div>
    </div>

    <div class="notification-details">
      <div class="small-profile-picture-section">

        <div class="small-profile-pic">
          <img src="../../assets/defaultProfilePicture.png" alt="">
        </div>

      </div>
      <div class="action-section">
        <!-- <span>Olya</span> sent a reply on your tweet. -->
        <span [routerLink]="'/home/profile/' + notification.senderId.username">{{notification.senderId.fname}}</span> {{notification.message}}
      </div>

      <div class="your-tweet" [routerLink]="'/home/tweet/' + notification.targetId._id">
        <p>{{notification.targetId.text}}</p>
      </div>

    </div>

    <div class="notification-time">
      <p>{{convertDate(notification.timestamp)  | timeAgo}}</p>
    </div>

  </div>
</div>
