<div class="notification">
  <div class="notification-body">

    <div class="notification-type-icon">
      <i class="bi bi-heart-fill"></i>
      <!-- <i class="bi bi-reply-fill"></i> -->
    </div>

    <div class="notification-details">
      <div class="small-profile-picture-section">

        <div class="small-profile-pic">
          <img src="../../assets/defaultProfilePicture.png" alt="">
        </div>

      </div>
      <div class="action-section">
        <!-- <span>Olya</span> sent a reply on your tweet. -->
        <span>Olya</span> liked your tweet.
      </div>

      <div class="your-tweet">
        <p>Also note that the subscribe() method is being called inside the updateTweet() method, so you don't need to
          subscribe to the returned observable 113</p>
      </div>

    </div>

    <div class="notification-time">
      <p>2h ago</p>
    </div>

  </div>
</div>
