<div class="home-feed-container">
  <h3 class="page-title">Home</h3>
  <create-tweet *ngIf="userIsAuthenticated"></create-tweet>

  <div class="text-center" *ngIf="!(allTweets$ | async)">
    <div class="spinner-border" style="width: 3rem; height: 3rem; color:#1DA1F2" role="status"></div>
  </div>

  <tweets
      [tweetsToDisplay$]="allTweets$"
      [userIsAuthenticated]="userIsAuthenticated"
      [username]="username">
  </tweets>

    <div *ngIf="(allTweets$| async)?.length == 0">
      <empty-tweets [emptyTweetsOfUser]="false"></empty-tweets>
    </div>

  <div class="separator"></div>
</div>
