<!-- <div class="text-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
</div> -->

<div>
  <div class="tweet-container">
    <div class="user-info">
      <div class="profile-picture">
        <img src="../../assets/defaultProfilePicture.png" alt="">
      </div>
      <div class="author-name">
        Kareem Yasser
      </div>
      <div class="user-name">
        @ky8designs
      </div>
    </div>
    <div class="tweets-count-section">
        <div class="tweets-count"> <span>8,703</span>Tweets</div>
    </div>
  </div>
  <tweets></tweets>
</div>
