@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'Chirp Heavy';
  src: url('../src/assets/fonts/ChirpHeavy.otf') format('opentype');
}

h2{
  font-family: 'Chirp Heavy', sans-serif;
  font-weight: bolder;
}

.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}
