.home-page{
  min-height:100vh;
  background-color: #F5F8FA;
  display: flex;
  /* width: 100%; */
}

.navbar-side{
  width: 220px;
}

.home-content{
  width: calc(100% - 220px);
  background-color: #dadcdd;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
