<div class="tweet-options">
  <div class="tweet-like-comment" *ngIf="userIsAuthenticated">

    <div class="comment" (click)="clickComment()">
      <i class="bi bi-chat"></i>
      <span>{{tweetBody.comments}}</span>
    </div>

    <div class="like" (click)="clickLike()">
      <i class="bi" [ngClass]="{'bi-heart': likeClicked== false,'bi-heart-fill':likeClicked==true}"></i>
      <span>{{tweetBody.likes}}</span>
    </div>

  </div>


  <div class="tweet-like-comment" *ngIf="!userIsAuthenticated">

    <div class="comment">
      <i class="bi bi-chat"></i>
      <span>{{tweetBody.comments}}</span>
    </div>

    <div class="like">
      <i class="bi" [ngClass]="{'bi-heart': likeClicked== false,'bi-heart-fill':likeClicked==true}"></i>
      <span>{{tweetBody.likes}}</span>
    </div>

  </div>

  <div class="edit-delete-options-container" *ngIf="username === tweetBody.username">

    <div class="menu" *ngIf="threedotsClicked" #menu>
      <li (click)="clickEditTweet()"> <i class="bi bi-pencil-square"></i> edit Tweet</li>
      <li class="delete" (click)="deleteTweet(tweetBody.id)"><i class="bi bi-trash"></i> delete Tweet</li>
    </div>
    <i class="bi bi-three-dots-vertical" (click)="clickThreeDots()"></i>
  </div>

</div>

<edit-tweet *ngIf="editTweetClicked" [tweetToBeEdited]=tweetBody (close)="editTweetClicked = false"></edit-tweet>

<create-reply *ngIf="commentClicked" [tweetToReply]=tweetBody (close)="commentClicked = false">
</create-reply>
